:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

html {
  --text-1: var(--gray-9);
  --text-2: var(--gray-9);
}

/* 
body {
  font-family: 'Courier New', Courier, monospace;
  margin: auto;
  background-color: black;
  color: white;
  height: 100vh;
}

header {
  width: 100%;
}

.title {
  margin: 1em;
  text-align: center;
  border: 1px solid white;
} */

/* .content {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.app {
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid-container {
  /* padding: 1em;
  margin: auto;
  width: fit-content; */
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 0fr);
  margin: 1em 0;
  background-color: white;
}

.cell {
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  text-align: center;
}

/* .cell:hover {
  background-color: aqua;
} */

#grid-config {
  display: flex;
  align-items: baseline;
}

/* input, textarea, button, select {
  appearance: none;
  -webkit-appearance: none;
} */

ul {
  list-style-type: none;
}

input, button {
  /* font-family: inherit;
  font-weight: 600;
  font-size: 100%; */
  width: 50px;
  padding: 0.2em;
  margin: 0;
}

label {
  width: 150px;
  text-align: right;
  padding-right: .5em;
}

li {
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

input:focus {
  border: 2px solid #fff;
}

header {
  background-image: var(--gradient-21);
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-9);
  font-family: var(--font-sans);
  box-shadow: var(--shadow-4);
  width: 100%;
  display: flex;
  align-items: center;
}

button {
  color: var(--gray-9);
  background-color: var(--blue-4);
  border: 1px solid var(--blue-1);
  text-shadow: 0 1px 0 var(--blue-2); 
  width: 100px;
}

button:hover {
  background-color: var(--grape-6);
}

.title {
  padding-left: 1em;
}

@media (prefers-color-scheme: dark) {

  html {
    --text-1: var(--gray-1);
    --text-2: var(--gray-2);
  }

  button {
    color: var(--gray-1);
    background-color: var(--blue-6);
    border: 1px solid var(--blue-1);
    text-shadow: 0 1px 0 var(--blue-2); 
    width: 100px;
  }
  
  button:hover {
    background-color: var(--grape-7);
  }
}